*{
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 350px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
  }

  .button {
    background-color: rgb(232, 154, 10);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

    /* center content */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .display {
      margin-bottom: 5px;
      border-style: solid;
      border-radius: 5px;
  }

  .text {
      font-size: xx-large;
      text-align: right;
      padding-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  #zero {
    grid-column: 1 / 3;
  }